@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
@{
    var nome = "Sergio";
    var alunos = ViewBag.Alunos;
}
<p> Bem vindo @nome</p>
<h3>Disciplinas</h3>
<p>@ViewBag.Disciplina</p>
<h3>Alunos e notas</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Média</th>
        </tr>
    </thead>
    <tbody>
        @{
            for(int i=0; i<alunos.Count; i++){
                <tr>
                    <td>@alunos[i].Nome</td>
                    <td>@alunos[i].Nota</td>
                </tr>
            }
        }
    </tbody>
</table>
